.notification {
  font-size: 1.5rem;
  border-style: solid;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.notification.info {
  background: cadetblue;
  color: darkblue;
}

.notification.error {
  background: chocolate;
  color: darkred;
}
